footer{
    background: #3c3c3b;
    padding: 90px;
    
    width: 100%;
    bottom: 0;
    margin-top: 10%;
}
footer ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
footer li{
    list-style: none;
    margin: 3px;
}