footer {
  background: #3c3c3b;
  padding: 40px 0;
   
  z-index: 100;
  position: absolute;
  bottom: 0;
  width: 100%;
 

}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.footer-li {
  list-style: none;
  padding: 7px;
  background: #50504f;
  display: inline-block;
  margin: 7px;
  border-radius: 50%;
}
.footer-li:hover {
  background: #5f5f5d;
}
.footer-li:active {
  background: #fff;
}
.text-footer {
  color: #fff;
  font-size: 120%;
  padding-bottom: 20px;
}
.icon-footer {
  color: #fff;
  padding: 10px;
  font-size: 130%;
}
.icon-footer:active {
  color: black;
}
@media screen and (max-width: 315px) {
  footer {
    width: 109.2%;
  }
  @media screen and (max-width: 290px) {
    footer {
      width: 315px;
    }
  }
}
