.container{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 100px;
}



.description{
    padding: 25px;
    margin-right: 100px;
    
}
.description h2{
    padding: 10px;
    margin-left: 17px;
    text-align: start;
}
.description p{
    text-align: start;
    padding: 10px;
    padding-bottom: 0;
    
}
.description label {
    position: relative;
    font-size: 1.1em;
    top: 40px;
    color: rgba(0, 0, 0, 0.356);
    
}
.description input{
    width: 35px;
    
    position: relative;
    top: 45px;
    
}
.description button{
    padding: 10px;
    width: 100%;
    margin: 10px;
    background: #f85555;
    border: 0;
    color: #fff;
    font-size: 1.2em;
}
.price-description{
    color: rgba(0, 0, 0, 0.356);
    text-align: start;
    margin-left: 25px;
    position: relative;
    bottom: 9px;
    font-size: 1.1em;
}
.price-description + h3{
    text-align: start; 
    margin-left: 30px;
}
.related-products {
    grid-column: 1/3;
    width: 100%;
   margin: 0 auto;
  
 
}

.related-products .subtitle{
    color: #f85555;
    text-align: start;
    margin-left: 24px;
    font-weight: bold;
    font-size: 1.3em;
}






