.container-carrucel {
  max-width: 500px;
  margin: 0 auto;
  overflow: hidden;
}
.flex {
  display: flex;
  transition: transform 1.3s;
}
.quote {
  width: 100%;
  padding: 40px;
  margin-bottom: -230px;
  position: relative;
}

.quote img {
  height: 50%;
  width: 110%;
  max-width: 350px;
  min-width: 150px;
  max-height: 300px;
  
  box-shadow: 1px 1px 1px 3px rgba(36, 34, 34, 0.068);
  object-fit: contain;
  border-radius: 1%;
}
.invisible-text {
visibility: hidden;
}

.button {
  border: none;
  height: 42px;
  cursor: pointer;
  background: transparent;
  width: 55px;
  margin: 0 auto;
  position: relative;
 
}

.image-button-carrucel {
  margin-top: 26px;
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  padding: 2px;
}
.image-button-carrucel:hover {
  border: 5px solid #f85555b4;
  border-radius: 8px;
}
.button-border {
  border: 5px solid #f85555;
  border-radius: 8px;
}
