.container {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

.description {
  padding: 20px;
}
.description h2 {
  padding: 10px;
  text-align: justify;
}
.description p {
  text-align: justify;
  padding: 10px;
  padding-bottom: 0;
}
.description label {
  position: relative;
  font-size: 1.1em;
  top: 40px;
  color: rgba(0, 0, 0, 0.356);
}
.description input {
  width: 35px;

  position: relative;
  top: 45px;
}
.description button {
  padding: 10px;
  width: 100%;
  margin: 10px;
  background: #f85555;
  border: 0;
  color: #fff;
  font-size: 1.2em;
  cursor: pointer;
  border-radius: 7px;
 
}
.description button:active{
  padding: 9px;
  border: 1px solid #f85555;
  color: #f85555;
  background: transparent;
}
.price-description {
  color: rgba(0, 0, 0, 0.356);
  text-align: start;
  margin-left: 25px;
  position: relative;
  bottom: 9px;
  font-size: 1.1em;
}
.price-description + h3 {
  text-align: start;
  margin-left: 30px;
}
.container-carrucel-products {
  
  width: 90%;
  margin: 0 auto;
  text-align: center;
 
}

.related-products .subtitle {
  color: #f85555;
  text-align: start;
  margin-left: 24px;
  font-weight: bold;
  font-size: 120%;
}

.related-product-card {
  display: grid;
  gap: 20px;
  padding: 33px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin: 0 auto;
}
.related-product-card a {
  text-decoration: none;
}
.related-products-list {
  border: 1px solid rgba(0, 0, 0, 0.397);
  list-style: none;

  border-radius: 8px;

  position: relative;
}

.related-products-list .image-main {
  padding: 3px;

  object-fit: contain;
}

.related-over {
  text-align: start;
  padding: 3px;

  object-fit: contain;

  position: absolute;
  opacity: 0;
}

.related-over:hover {
  opacity: 1;
  background: #fff;
  transition: 0.7s;
  z-index: 1;
}

.related-info {
  border-top: 1px solid rgba(0, 0, 0, 0.397);
}
.related-info-title {
  padding: 10px 0;
  font-size: 75%;
  text-align: start;
  margin-left: 6%;
}

.related-title-price {
  color: rgba(0, 0, 0, 0.397);
  font-size: 95%;
  padding: 10px 0;
  text-align: start;
  margin-left: 6%;
}
.related-price {
  color: #0000005b;
  font-size: 98%;
  padding: 10px 0;
  text-align: start;
  margin-left: 6%;
  margin-bottom: 2%;
}
