.purchases {
  margin: 0 auto;
  margin-top: 100px;
  width: 80%;
  text-align: start;
}

.purchases .purchases-title {
  font-size: 1.4em;
  margin-left: 9%;
  padding: 45px 0;
}
.cart-purchases {
  border-radius: 7px;
  border: 1px solid rgba(0, 0, 0, 0.397);
  margin: 14px auto;
  width: 80%;
}
.date {
  font-size: 94%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.397);
  padding: 15px 9%;
  
}
.cart-purchases-description {
  list-style: none;
  padding: 4%;
  position: relative;
}
.cart-purchases-description li {
  padding: 10px;
}
.cart-purchases-description li > a {
  text-decoration: none;
}

.product-purchases-title {
  margin-left: 5%;
  color: #515151;
  font-weight: 100;
  
}
.quantity-purchases {
  position: absolute;
  right: 29%;
  border: 1px solid rgba(0, 0, 0, 0.397);
  padding: 6px 20px;
  font-weight: 100;
}
.price-purchases {
  position: absolute;
  right: 4%;
  font-size: 0.99em;
}
