.purchases{
    margin: 0 auto;
    margin-top: 100px;
    width: 80%;
    text-align: start;
}
.purchases h1{
    font-size: 1.4em;
    margin-top: 110px;
    padding: 25px 0;

}
.cart-purchases{
    border-radius: 7px;
    border:1px solid rgba(0, 0, 0, 0.397);
    margin: 14px 0;
   
}
.cart-purchases h5{
    border-bottom: 1px solid rgba(0, 0, 0, 0.397);
    padding: 15px;

}
.cart-purchases ul{
    list-style: none;
    padding: 20px;
    position: relative;
   
}
.cart-purchases ul li{
    padding: 10px;
}
.cart-purchases ul li > a{
    text-decoration: none;
}

.cart-purchases ul .title-purchases{
    margin-left: 15%;
    color:#515151;
    font-weight: 100;
}
.cart-purchases ul .quantity-purchases{
    position: absolute;
    right: 29%;
    border:1px solid rgba(0, 0, 0, 0.397);
    padding:6px 20px;
    font-weight: 100;

}
.cart-purchases ul .price-purchases{
    position: absolute;
    right: 4%;
    font-size: 0.99em;
    
}